{% extends 'base.html' %}

{% block title %}Exercício Django{% endblock %}
  {% block content %}
  <div class="container">
  <h2>Lista de Livros</h2>
  {% if perms.blog.add_livro %}
  <a href="{% url 'blog:livro-create' %}" class="btn-primary">Novo Livro</a>
  {% endif %}
  <ul>
    {% for livro in livros %}
        <li>
          <span>{{ livro.titulo }} - {{ livro.editora.nome }}</span>
            <div>
              {% if  perms.blog.change_livro and perms.blog.delete_livro %}
              <a href="{% url 'blog:livro-edit' livro.pk %}" class="btn-edit">Editar</a>
              <a href="{% url 'blog:livro-delete' livro.pk %}" class="btn-delete">Excluir</a>
            
              {% else %}
                <span class="no-permission"></span>
              {% endif %}
              </div>
        </li>
    {%empty%}
        <li class="empty">Nenhum livro disponível.</li>
    {%endfor %}
  </ul>

  {% if livros.has_other_pages %}
  <div class="pagination">
    {% if livros.has_previous %}
        <a href="?page={{ livros.previous_page_number }}" class="page-link">Anterior</a>
    {% endif %}
    <span class="current-page">Página {{ livros.number }} de {{ livros.paginator.num_pages }}</span>
    {% if livros.has_next %}
        <a href="?page={{ livros.next_page_number }}" class="page-link">Próxima</a>
    {% endif %}
  </div>
  {% endif %}
  </div>
  {% endblock %}
